form{
	width: 500px;
	height: 600px;
	
	border-radius:20px;
	
	text-align: center;
}

div {
  margin: .4em 0;
}
div label {
  width: 25%;
  float: left;
  margin-top: 15px;
  margin-bottom: 0px
}

button{
	
	margin-right: 50px;
	margin-top: 20px;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: black;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E3E1E1), to(#));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}


.contrasena {
	background: #eee;
	border: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 200px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.contrasena1 {
	background: #eee;
	border: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 200px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.apellido {
	background: #eee;
	border: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 200px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.cedula {
	background: #eee;
	border: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 200px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.edad {
	background: #eee;
	border: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 200px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.peso {
	background: #eee;
	border: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 200px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.fecha {
	background: #eee;
	border: 0;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 10px;
	width: 200px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.radiom , .rmasculino , .masculino{
	
	border: 0;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px;
}

.radiof, .rfemenino , .femenino{
	
	border: 0;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px;
}